<h1>Shipping Cost Calculator</h1>

<form  action="/results">
  <div class='form-group'>
    <h2>Enter the Dimensions of your Package</h2>
    <label for="width">Width:</label>
    <input type='text' name="width" class='form-control'>

    <label for="height">Height:</label>
    <input type="text" name="height" class='form-control'>

    <label for="depth">Depth:</label>
    <input type="text" name="depth" class='form-control'>
  </div>
  <div class='form-group'>
    <h2>Enter the Weight of your Package</h2>
    <label for="weight">Weight:</label>
    <input type="text" name="weight" class='form-control'>
    <h2>How far would you like to ship package?</h2>
    <label for="distance">Distance:</label>
    <input type="text" name="distance" class='form-control'>
    <label for="wrap">Would us to Wrap your Package?</label>
    <input type="hidden" name="wrap" value='false'>
    <input type="checkbox" name="wrap" id='wrap'>
  </div>
  <button type='submit'>Submit</button>
</form>
